[Desktop Entry]
Name=CobaltStrike
Encoding=UTF-8
Exec=sh -c "java -javaagent:cobaltstrikecn.jar -Dfile.encoding=utf-8 -XX:ParallelGCThreads=4  -XX:+AggressiveHeap -XX:+UseParallelGC -XX:+UseParallelGC -Xms512M -Xmx1024M -javaagent:hook.jar -jar cobaltstrike.jar"
Icon=/opt/cobaltstrike/icon.jpg
StartupNotify=false
Terminal=false
Type=Application
Categories=
X-Kali-Package=CobaltStrike
StartupWMClass=CobaltStrike-StartBurp
Comment=
Path=/opt/cobaltstrike/